<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hello world</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css" />
  <script src="/static/main.js"></script>
</head>
<body>
  <h1 id="sample-text">
    <!-- populated by XHR call / -->
  </h1>
  <p>
    <!-- populated by server-side rendering -->
    <%= text %>
    <br /><br />
    <i>
      (if you see &lt;%= text %&gt;, you need to visit <a href="/render">the /render endpoint</a>)
    </i>
    <!-- /populated by server-side rendering -->
  </p>
  <p>
    The following image should not load because of the CSP - note a CSP violation report in the server-side logs:
  </p>
  <img src="https://images.unsplash.com/photo-1549088521-94b6502fec3d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" />
  <p>
    <i>
      To get the above image working, add https://images.unsplash.com to your serverCspImage arguments
    </i>
  </p>
</body>
</html>